<a href="https://colab.research.google.com/github/LeandroLeite003/teste/blob/main/Treinamento_com_dataset(_titanic_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Carregamento do Dataset

In [49]:
import pandas as pd
from seaborn import load_dataset

#carregar base de dados
df = load_dataset('titanic')

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

Analisando as informações do dataset

In [50]:
df.info()

df.shape

df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Remove as colunas 'class' e deck' e as linhas que apresentam o NaN

In [51]:
df = df.drop('class',axis=1)
df = df.drop('deck',axis=1)

df = df.dropna()

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,woman,False,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,Queenstown,no,True

Normaliza os valores das colunas 'age' e 'fare' em valores entre 0 e 1

In [54]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

df['age'] = MinMaxScaler().fit_transform(np.array(df['age']).reshape(-1,1))
df['fare'] = MinMaxScaler().fit_transform(np.array(df['fare']).reshape(-1,1))

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alive,alone
0,0,3,male,0.271174,1,0,0.014151,S,man,True,Southampton,no,False
1,1,1,female,0.472229,1,0,0.139136,C,woman,False,Cherbourg,yes,False
2,1,3,female,0.321438,0,0,0.015469,S,woman,False,Southampton,yes,True
3,1,1,female,0.434531,1,0,0.103644,S,woman,False,Southampton,yes,False
4,0,3,male,0.434531,0,0,0.015713,S,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,0.484795,0,5,0.056848,Q,woman,False,Queenstown,no,False
886,0,2,male,0.334004,0,0,0.025374,S,man,True,Southampton,no,True
887,1,1,female,0.233476,0,0,0.058556,S,woman,False,Southampton,yes,True
889,1,1,male,0.321438,0,0,0.058556,C,man,True,Cherbourg,yes,True
890,0,3,male,0.396833,0,0,0.015127,Q,man,True,Queenstown,no,True

Converte Coluna 'embarked','sex','who','adult_male','embark_town','alive','alone' usando ONE-HOT Encoding

In [55]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

column_transformer = make_column_transformer((OneHotEncoder(), ['embarked','sex','who','adult_male','embark_town','alive','alone']), remainder='passthrough')

df = column_transformer.fit_transform(df)

df = pd.DataFrame(data=df)

df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,3.0,0.271174,1.0,0.0,0.014151
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.472229,1.0,0.0,0.139136
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,3.0,0.321438,0.0,0.0,0.015469
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,1.0,0.434531,1.0,0.0,0.103644
4,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,3.0,0.434531,0.0,0.0,0.015713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,3.0,0.484795,0.0,5.0,0.056848
708,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,2.0,0.334004,0.0,0.0,0.025374
709,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.233476,0.0,0.0,0.058556
710,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.321438,0.0,0.0,0.058556
711,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,3.0,0.396833,0.0,0.0,0.015127

Converte a classe com LabelEncoding

In [56]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df[18]= label_encoder.fit_transform(df[18])

df

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,2,0.271174,1.0,0.0,0.014151
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0,0.472229,1.0,0.0,0.139136
2,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,2,0.321438,0.0,0.0,0.015469
3,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0,0.434531,1.0,0.0,0.103644
4,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,2,0.434531,0.0,0.0,0.015713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,2,0.484795,0.0,5.0,0.056848
708,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1,0.334004,0.0,0.0,0.025374
709,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0,0.233476,0.0,0.0,0.058556
710,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0,0.321438,0.0,0.0,0.058556
711,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,2,0.396833,0.0,0.0,0.015127

Separa y e X

In [57]:
y = df[18]

X = df.drop(18,axis=1)

Separa dados para treinamento e teste

In [58]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y) # 80% treino e 20% teste

Treina os Modelos

In [61]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier(criterion="gini")
model2 = DecisionTreeClassifier(criterion="entropy", max_depth=None)
model3 = KNeighborsClassifier(n_neighbors=7, metric='minkowski', algorithm='auto')
model4 = KNeighborsClassifier(n_neighbors=5, metric='euclidean', algorithm='brute')

model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)
model4.fit(X_train, y_train)

KNeighborsClassifier(algorithm='brute', metric='euclidean')

Mede o Desempenho

In [62]:
from sklearn import metrics

result1 = model1.predict(X_test)
result2 = model2.predict(X_test)
result3 = model3.predict(X_test)
result4 = model4.predict(X_test)

acc1 = metrics.accuracy_score(result1, y_test)
show1 = round(acc1 * 100)
print("{}%".format(show1))

acc2 = metrics.accuracy_score(result2, y_test)
show2 = round(acc2 * 100)
print("{}%".format(show2))

acc3 = metrics.accuracy_score(result3, y_test)
show3 = round(acc3 * 100)
print("{}%".format(show3))

acc4 = metrics.accuracy_score(result4, y_test)
show4 = round(acc4 * 100)
print("{}%".format(show4))

93%
92%
74%
76%